{% extends 'globalView.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device in devices %}
                        <tr>
                            <td>#{{ device.id }}</td>
                            <td><a href="">@{{ device.name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}